{% set keep_in_template = ['datasets/dataset_paths.py'] %}
{% for item in keep_in_template %}
{{ item }}
{% endfor %}


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks / IDE
.ipynb_checkpoints
.DS_Store
.vscode
.idea

# Unit test / coverage reports
.coverage
.pytest_cache
